@font-face {
  font-family: Glober;
  src: url('font/32126D_1_0.eot');
  src: url('font/32126D_1_0.eot?#iefix') format('embedded-opentype'), 
      url('font/32126D_1_0.woff2') format('woff2'), 
      url('font/32126D_1_0.woff') format('woff'), 
      url('font/32126D_1_0.ttf') format('truetype');
}
@font-face {
  font-family: GloberSemiBold;
  src: url('font/32126D_2_0.eot');
  src: url('font/32126D_2_0.eot?#iefix') format('embedded-opentype'), 
      url('font/32126D_2_0.woff2') format('woff2'), 
      url('font/32126D_2_0.woff') format('woff'), 
      url('font/32126D_2_0.ttf') format('truetype');
}
@font-face {
  font-family: GloberBold;
  src: url('font/32126D_0_0.eot');
  src: url('font/32126D_0_0.eot?#iefix') format('embedded-opentype'), 
      url('font/32126D_0_0.woff2') format('woff2'), 
      url('font/32126D_0_0.woff') format('woff'), 
      url('font/32126D_0_0.ttf') format('truetype');
}

html, 
body {
  font-family: Glober, Arial, sans-serif;
}

input,
textarea {
  font-family: Glober, Arial, sans-serif;
}

/* App.js */

.backaround {
  background-color: #f4f6f9;
}

.app-style {
  width: 650px;
  height: 550px;
}

/* StartScreen.js */
.start-screen {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 30px;
}

.title-style {
  font-family: "Glober";
  font-size: 40px;
}

.caption-style {
  font-family: "Glober";
  font-size: 18px;
  color: #8ec452;
}

.blue-outer-style {
  display: flex;
  height: 70px;
  width: 70px;
  border-color: #19b4e3;
  border-width: 1px;
  border-style: solid;
  border-radius: 50px;
  margin-left: 80px;
}

.grey-outer-style {
  transform: rotate(45deg);
  display: flex;
  height: 70px;
  width: 70px;
  border-color: #d2d6dd;
  border-width: 1px;
  border-style: solid;
  border-radius: 50px;
  margin-left: 80px;
}

.plus-style {
  margin: auto;
  line-height: auto;
  font-size: 60px;
  color: #19b4e3;
}

.cross-style {
  margin: auto;
  line-height: n;
  font-size: 60px;
  color: #d2d6dd;
}

/* MainScreen.js */

.main-screen-flex-block {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  align-items: center;
}

.main-screen-flex-element {
  margin-left: 30px;
}

.currency-text-style {
  margin-left: 30px;
  font-size: 20px;
  color: #d2d6dd;
}

.selected-border {
  height: 37px;
  margin-top: 13px;
  border-bottom: 3px solid #00BFFF;
  color: black;
}

.border-property {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  border-top: 1px outset #DCDCDC;
  border-bottom: 1px inset #DCDCDC;
  margin-top: 30px;
}

.input {
  height: 75px;
  width: 300px;
  border-radius: 3px;
  border-color: #DCDCDC;
  border-width: 1px;
  border-style: solid;
  margin-top: 20px;
  margin-left: 30px;
}

.input-label-style {
  margin-top: 15px;
  margin-left: 15px;
  color: #d2d6dd;
  font-size: 15px;
}

.input-container {
  display: flex;
  flex-direction: row;
}

.input-style {
  margin-left: 15px;
  font-size: 25px;
  display: inline-block;
  border: none;
  outline: none;
}

.input-currency-style {
  display: inline-block;
  font-size: 25px;
  margin-top: 1px;
}

.text-style {
  color: #d2d6dd;
  font-size: 15px;
}

.profit-style {
  color: #8ec452;
  font-size: 15px;
}

.percent-style {
  font-size: 15px;
}

.cancel-button-style {
  text-decoration: underline;
  color: #19b4e3;
  margin-left: 50px;
}

/* MainScreen.js  FinalScreen.js*/

.button-style {
  margin-left: 30px;
  width: 250px;
  height: 75px;
  color: white;
  background-color: #19b4e3;
  border-radius: 10px;
  font-size: 15px;
}


/* FinalScreen.js*/

.my-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 250px;
}

.amount-style {
  margin-left: 90px;
  font-size: 30px;
}

.final-screen-text-style {
  margin-left: 50px;
  font-size: 15px;
}

.icon-success {
  background-image: url("icons/icon-success.svg");
  width: 100px;
  height:100px;
  margin-left: 105px;
}
